// ==== Colors ====

$Purple : #852B7F;
$Red : #E9383F;
$Gradient-high : #852B7F;
$Gradient-low : #E9383F;
$Gray : #EEEEEE;
$White: #FFFFFF;

$Text-primary : #4a4a4a;

// ==== Fonts ====

$roboto : 'Roboto', sans-serif;

// Base CSS Starts

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

*,
:after,
:before {
    box-sizing: border-box
}

html {
    line-height: 1.15;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(18, 38, 63, 0);
}

@-ms-viewport {
    width: device-width;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0px;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.8rem;
    margin: 0;
    text-align: left;
    color: $Text-primary;
    background-color: $Gray;
    position: relative;
}

[tabindex="-1"]:focus {
    outline: 0!important
}

button,
input,
textarea{
    border: none;
    outline: none !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

a:hover,
a:active{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0px;
}

img {
    border-style: none
}

img,
svg {
    vertical-align: middle
}

svg {
    overflow: hidden
}

table {
    border-collapse: collapse
}

// Base CSS Ends

.content-row{
    display: flex;
    flex-direction: row;
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
    box-sizing: border-box;
}

.content-col{
    position: relative;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 100%;
}

.clearfix{
    align-items: stretch !important;
}

.float-right{
    float: right !important;
}


// **************************************
// *       Main CSS Starts
// **************************************

.header{
    background: #000 !important;
    color : #fff;
    padding: 4.2rem;

    &__brand{
        font-style: none;
        color: #fff;
    }

    &__brand{
        font-size: 2.5rem;
        font-weight: 900;
        padding: 1.3rem;
        border: .8rem solid #fff;
        display: inline-block;
    }
}

.container-fluid{
    max-width: 120rem;
    margin: 0px auto;
}

.main-content{
    padding: 11rem 3rem;
}

.content-col--chart-card{
    flex: 0 0 60%;
    max-width: 60%;
}

.content-col--polygon-card{
    flex: 0 0 60%;
    max-width: 60%;

    display: flex;
    justify-content: center;
}

.content-col--list-card{
    flex: 0 0 40%;
    max-width: 40%;
}

.card{
    height: 100%;
    border: 1rem solid #000;
    background: #fff;
    box-shadow: 0px 0px 2rem 2rem #4a4a4a1c;
}

.list-card{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;

    &__title{
        font-size: 2.8rem;
        font-weight: 900;
        position: relative;
        padding-bottom: 1.5rem;
        margin-bottom: 2rem;
        text-transform: uppercase;

        &::after{
            content: "";
            width: 6.5rem;
            border-bottom: .5rem solid #000;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
    }

    &__table{

        .item{
            border-bottom: 1px solid #000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;

            .name,
            .value{
                font-size: 1.8rem;
                font-weight: 900;
                padding: .8rem 0;
            }
        }
    }
}

.chart-card{
    display: flex;
    flex-direction: row;
    padding: 2.5rem;

    &__canvas{
        padding-right: 5rem;
        display: flex;
        justify-content: center;
    }

    &__graph-wrapper{
        height: 25rem;
        width: 25rem;
        position: relative;

        canvas{
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 160% !important;
            height: 80% !important;
            left: -30%;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
    }

    &__title{
        font-size: 2.8rem;
        font-weight: 900;
        position: relative;
        padding-bottom: 1.5rem;
        margin-bottom: 2rem;
        text-transform: uppercase;

        &::after{
            content: "";
            width: 6.5rem;
            border-bottom: .5rem solid #000;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
    }

    &__paragraph{
        font-size: 1.8rem;
        font-weight: 900;
        padding: .4rem 0;
        margin-bottom: 2rem;
    }

    &__assets{

        .item{
            font-size: 1.8rem;
            font-weight: 900;
            padding-left: 2.5rem;
            margin-bottom: .8rem;
            position: relative;

            &__icon{
                position: absolute;
                height: 1.4rem;
                width: 1.4rem;
                top: .5rem;
                border-radius: 100%;
                background: #555;
                left: 0px;
            }
        }
    }
}

.polygon-img-box{
    width: 45rem;
    height: auto;

    img{
        width: 100%;
        height: auto;;
    }
}

.action-btn{
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 1.5rem 4.5rem;
    color: #fff;
    float: right;
    border-radius: 5rem;
    margin-top: 11rem;
    
    .txt{
        font-size: 3rem;
        font-weight: 900;
        padding-right: 2rem;
    }

    img{
        height: 2.2rem;
        width: auto;
    }
}

// ============================ Landing Page =============================

.hero-bg{
    background-image: linear-gradient(to right top, $Gradient-high, $Gradient-low);
    min-height: 100vh;
    color: #000;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25rem), 0 100%);
    position: relative;
    display: block;
}

.hero-container{
    padding: 6rem 6rem;
    padding-bottom: 24rem;
    display: block;
    position: relative;

    .hero-doodle{
        position: absolute;
        right: 6rem;
        top: 35vh;
        height: 35rem;
        transform: translate(0px, -15rem);

        img{
            height: 100%;
            width: auto;
        }
    }

    &__link{
        font-style: none;
        text-decoration: none;
        color: #000 !important;
    }

    &__brand{
        font-size: 4rem;
        font-weight: 900;
        padding: 1rem 1.5rem;
        margin: 0;
        line-height: 1;
        border: .5rem solid #000;
        display: inline-block;
    }

    &__content{
        margin-top: 10rem;
        width: 50%;
        box-sizing: border-box;
        display: block;
        margin-bottom: 4rem;
    }

    &__title{
        font-size: 4rem;
        font-weight: 900;
        position: relative;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;

        &::after{
            content: "";
            width: 7rem;
            border-bottom: .5rem solid #000;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
    }

    &__subtitle{
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 300;
        padding: 1rem 0;
        margin-bottom: 3rem;
    }

    &__action-field{
        border: .6rem solid #000;
        border-radius: 4rem;
        display: flex;
        align-items: stretch;
        justify-content: right;
        background: #fff;
        overflow: hidden;

        input{
            font-size: 3rem;
            font-weight: 300;
            flex-grow: 1;
            padding: 1rem 4rem;
            z-index: 1;
            border-top-left-radius: 10rem;
            border-bottom-left-radius: 10rem;
            min-width: 150px;
        }

        button{
            font-size: 3rem;
            font-weight: 900;
            padding: 1rem 5rem;
            background: #fff;
            color: #fff;
            outline: none !important;
            border: transparent;
            align-self: stretch;
            flex-shrink: 0;
            flex-basis: 16rem;
            border-radius: 5rem;
            border-bottom-right-radius: 3rem;
            border-top-right-radius: 3rem;
            z-index: 10;
            background: #000;
            min-width: 16rem;
            border-radius: -200px;
        }
    }
}

.footer{

    display: block;
    white-space: nowrap;
    margin-top: -14rem;
    overflow: hidden;
    
    &__brand-watermark{
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 300;
        background-image: linear-gradient(to right, $Gradient-high, $Gradient-low);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 5rem 5rem;
        position: relative;
        padding-bottom: 1.2rem;
        float : right;
        display: inline-block;
        
        &::after{
            content: "";
            width: 20rem;
            border-bottom: .2rem solid #555;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1024px) {
  
    //CSS

    .hero-container__content{
        margin-top: 10rem;
        width: 70%;
        box-sizing: border-box;
        display: block;
        margin-bottom: 4rem;
    }

    .hero-doodle{
        position: absolute;
        right: 4rem;
        top: 40vh !important;
        height: 25rem !important;
        
        img{
            transform: translate(0px, -10rem);
            height: 100%;
            width: auto;
        }
    }

    .content-row{
        display: flex;
        flex-direction: column;
        margin-left: -1.5rem !important;
        margin-right: -1.5rem !important;
        box-sizing: border-box;
    }
    
    .content-col--chart-card,
    .content-col--polygon-card,
    .content-col--list-card{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .content-col--list-card{
        margin-top: 3rem;
    }
    
}

@media (max-width: 768px) {
  
    //CSS

    .main-content{
        padding: 8rem 3rem;
    }

    .action-btn{
        margin-top: 8rem;
    }

    .hero-container__content{
        margin-top: 10rem;
        width: 100%;
        box-sizing: border-box;
        display: block;
        margin-bottom: 4rem;
    }

    .hero-doodle{
        display: none;
        position: absolute;
        right: 4rem;
        top: 40vh !important;
        height: 25rem !important;
        
        img{
            transform: translate(0px, -10rem);
            height: 100%;
            width: auto;
        }
    }

    .chart-card{
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
    
        &__canvas{
            align-self: center;
            padding-right: 5rem;
        }
    
        &__content{
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
        }
    
        &__title{
            font-size: 2.8rem;
            font-weight: 900;
            position: relative;
            padding-bottom: 1.5rem;
            margin-bottom: 2rem;
            text-transform: uppercase;
    
            &::after{
                content: "";
                width: 6.5rem;
                border-bottom: .5rem solid #000;
                position: absolute;
                bottom: 0px;
                left: 0px;
            }
        }
    
        &__paragraph{
            font-size: 1.8rem;
            font-weight: 900;
            padding: .4rem 0;
            margin-bottom: 2rem;
        }
    
        &__assets{
    
    
            .item{
                font-size: 1.8rem;
                font-weight: 900;
                padding-left: 2rem;
                margin-bottom: .8rem;
                position: relative;
    
                &__icon{
                    position: absolute;
                    height: 1.4rem;
                    width: 1.4rem;
                    top: .5rem;
                    border-radius: 100%;
                    background: #555;
                    left: 0px;
                }
            }
        }
    }
    
}

@media (max-width: 480px) {
  
    //CSS

    html {
        font-size: 55% !important;
    }

    .main-content{
        padding: 2rem 1rem;
    }

    .action-btn{
        margin-top: 4rem;
    }

    .hero-bg{
        background-image: linear-gradient(to right top, $Gradient-high, $Gradient-low);
        min-height: 100vh;
        color: #000;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12rem), 0 100%);
        position: relative;
        display: block;
    }

    .hero-container{
        padding: 4rem 2rem;
    }

    .hero-container__content{
        margin-top: 10rem;
        width: 100%;
        box-sizing: border-box;
        display: block;
        margin-bottom: 4rem;
    }

    .footer{

        display: block;
        white-space: nowrap;
        margin-top: -6.5rem;
        overflow: hidden;
        
        &__brand-watermark{
            font-size: 1.6rem;
            text-transform: uppercase;
            font-weight: 300;
            background-image: linear-gradient(to right, $Gradient-high, $Gradient-low);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 1.5rem;
            position: relative;
            padding-bottom: 1rem;
            float : right;
            display: inline-block;
            
            &::after{
                content: "";
                width: 20rem;
                border-bottom: .2rem solid #555;
                position: absolute;
                bottom: 0px;
                right: 0px;
            }
        }
    }
    
}